@import '../css/fonts.css';

$black33: #333333;
$white: #FFFFFF;
$green: #6CB71D;
$black00: #000000;
$grey78: #787878;
$greyF0: #F0F0F0;
$grey77: #777777;
$grey9F: #9F9F9F;
$greyE4 : #E4E4E4;
$greyE9 : #E9E9E9;
$grey4B: #4B4B4B;
$greyBD: #BDBEC0;


$RobotoBlack : 'RobotoBlack';
$RobotoBold : 'RobotoBold';
$RobotoMed : 'RobotoMed';
$RobotoReg : 'RobotoReg';
